/* Body */
body { color: #241808; }
/* Header-Icon-Box */
.Header-Icon-Box {
    width: 100px; height: 100px; margin-top: 20px; margin-left: 20px;
    background-color: #ffe591; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Header-Icon-Box:hover { background-color: #ffe386; margin-top: 30px; margin-left: 30px; }
.Header-Icon-Box-Icon {
    width: 100px; height: 100px; margin-top: 10px; margin-left: 10px;
    border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Header-Icon-Box-Icon:hover { margin-top: 5px; margin-left: 5px; }
/* Contct-information */
.Contct-information-Box {
    width: 350px; height: 100px; margin-top: 20px; margin-left: 150px;
    background-color: #fff0be; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Contct-information-Box:hover { background-color: #ffe798; margin-top: 30px; margin-left: 160px; }
.Contct-information-Box-Word {
    width: 350px; height: 100px; margin-top: 10px; margin-left: 10px;
    background-color: #ffe693; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Contct-information-Box-Word:hover { background-color: #ffe282; margin-top: 5px; margin-left: 5px; }
/* CI-Phone */
.Contct-information-Box-Phone {
    margin-top: 20px; margin-left: 10px; font-size: 20px; color: #241808;
    position: absolute; transition: all 0.3s ease-in-out;
} .Contct-information-Box-Phone:hover { font-size: 23px; color: #422c0e; }
/* CI-Mail */
.Contct-information-Box-Mail {
    margin-top: 50px; margin-left: 10px; font-size: 20px; color: #241808;
    position: absolute; transition: all 0.3s ease-in-out;
} .Contct-information-Box-Mail:hover { font-size: 23px; color: #422c0e; }
/* Business-Time-Box */
.Business-Time-Box {
    width: 470px; height: 270px; margin-top: 150px; margin-left: 20px;
    background-color: #ffe282; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Business-Time-Box:hover { background-color: #ffe07b; margin-top: 160px; margin-left: 30px; }
.Business-Time-Box-Time {
    width: 470px; height: 270px; margin-top: 10px; margin-left: 10px;
    background-color: #fcebb4; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Business-Time-Box-Time:hover { background-color: #fff1c2; margin-top: 5px; margin-left: 5px; }
.Business-Time-Box-Title {
    margin-top: 10px; margin-left: 200px; font-size: 25px;
    position: absolute; transition: all 0.3s ease-in-out;
} .Business-Time-Box-Title:hover { font-size: 27px; }
/* Business-Time-Box-Day */
.Business-Time-Box-Day { margin-top: 50px; font-size: 20px; position: absolute; transition: all 0.3s ease-in-out; }
.Business-Time-Box-Day:hover { font-size: 22px; }
.BTBD-Label1 { margin-left: 90px; }
.BTBD-Label2 { margin-left: 140px; }
.BTBD-Label3 { margin-left: 190px; }
.BTBD-Label4 { margin-left: 240px; }
.BTBD-Label5 { margin-left: 290px; }
.BTBD-Label6 { margin-left: 340px; }
.BTBD-Label7 { margin-left: 390px; }
/* Business-Time-Box-Day-Time */
.Business-Time-Box-Day-Time { margin-left: 20px; font-size: 20px; position: absolute; transition: all 0.3s ease-in-out; }
.BTBDT-Label0630 { margin-top: 90px; }
.BTBDT-AM-To { margin-top: 110px; margin-left: 40px; transform: rotate(90deg); }
.BTBDT-Label0830 { margin-top: 130px; }
.BTBDT-Label1530 { margin-top: 180px; }
.BTBDT-PM-To { margin-top: 200px; margin-left: 40px; transform: rotate(90deg); }
.BTBDT-Label1800 { margin-top: 220px; }
/* checkbox */
.BTBDT-CheckBox { display: inline-flex; align-items: center; cursor: pointer; user-select: none; font-size: 16px; color: #333; transition: color 0.3s; }
.BTBDT-CheckBox input[type="checkbox"] { display: none; }
.BTBDT-CheckBox .BTBDT-CheckBox-mark {
  width: 24px; height: 24px; border: 2px solid #333; border-radius: 4px; display: flex; align-items: center; justify-content: center; margin-right: 10px; transition: background-color 0.3s, border-color 0.3s, transform 0.3s; transform-style: preserve-3d; }
.BTBDT-CheckBox .BTBDT-CheckBox-mark::before { content: "\2713"; font-size: 16px; color: transparent; transition: color 0.3s, transform 0.3s; }
.BTBDT-CheckBox input[type="checkbox"]:checked + .BTBDT-CheckBox-mark { background-color: #333; border-color: #333; transform: scale(1.1) rotateZ(360deg) rotateY(360deg); }
.BTBDT-CheckBox input[type="checkbox"]:checked + .BTBDT-CheckBox-mark::before { color: #fff; }
.BTBDT-CheckBox:hover { color: #666; }
.BTBDT-CheckBox:hover .BTBDT-CheckBox-mark { border-color: #666; background-color: #f0f0f0; transform: scale(1.05); }
.BTBDT-CheckBox input[type="checkbox"]:focus + .BTBDT-CheckBox-mark { box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2); outline: none; }
.BTBDT-CheckBox .BTBDT-CheckBox-mark, .BTBDT-CheckBox input[type="checkbox"]:checked + .BTBDT-CheckBox-mark { transition: background-color 1.3s, border-color 1.3s, color 1.3s, transform 0.3s; }
/* CheckBoxStyle */
.BTBDDa { margin-top: 110px; }
.BTBDDp { margin-top: 60px; }
.BTBDD1 { margin-left: 85px; }
.BTBDD2 { margin-left: 4px; }
.BTBDD3 { margin-left: 4px; }
.BTBDD4 { margin-left: 4px; }
.BTBDD5 { margin-left: 4px; }
.BTBDD6 { margin-left: 4px; }
.BTBDD7 { margin-left: 4px; }
/* Salad-Menu-Box */
.Salad-Menu-Box {
    width: 390px; height: 400px; margin-top: 450px; margin-left: 50px;
    background-color: #ffe99f; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Salad-Menu-Box:hover { background-color: #ffecac; margin-top: 460px; margin-left: 60px; }
.Salad-Menu-Box-Menu {
    width: 390px; height: 400px; margin-top: 10px; margin-left: 10px;
    background-color: #ffdd6d; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Salad-Menu-Box-Menu:hover { background-color: #eecc5b; margin-top: 5px; margin-left: 5px; }
.Salad-Menu-Box-Title {
    margin-top: 10px; margin-left: 75px; font-size: 25px;
    position: absolute; transition: all 0.3s ease-in-out;
} .Salad-Menu-Box-Title:hover { font-size: 27px; }
.Basic-ingredients {
    margin-top: 340px; margin-left: 20px; font-size: 22px;
    position: absolute; transition: all 0.3s ease-in-out;
} .Basic-ingredients:hover { font-size: 23px; }
/* Main-Menu-Course */
.Main-Menu-Course {
    width: 170px; height: 270px; margin-top: 50px; margin-left: 10px;
    background-color: #ffe99f; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Main-Menu-Course:hover { background-color: #f1e0a7; margin-top: 60px; margin-left: 20px; }
.Main-Menu-Course-Menu {
    width: 170px; height: 270px; margin-top: 5px; margin-left: 5px;
    background-color: #f3df9e; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Main-Menu-Course-Menu:hover { background-color: #e4cf8c; margin-top: 3px; margin-left: 3px; }
.Main-Menu-Course-Title {
    margin-top: 10px; margin-left: 50px; font-size: 25px; color: #53350d;
    position: absolute; transition: all 0.3s ease-in-out;
} .Main-Menu-Course-Title:hover { font-size: 27px; }
.MMC-Course { font-size: 23px; margin-left: 20px; position: absolute; transition: all 0.3s ease-in-out; }
.MMC-Course:hover { font-size: 25px; }
.MMCC1 { margin-top: 50px; }
.MMCC2 { margin-top: 70px; }
.MMCC3 { margin-top: 90px; }
.MMCC4 { margin-top: 110px; }
.MMCC5 { margin-top: 130px; }
.MMCC-Note { color: #ff5858; font-size: 14px; font-weight: bold; transition: all 0.3s ease-in-out; }
.MMCC-Note:hover { color: #ff3434; }
/* Side-Menu-Dish */
.Side-Menu-Dish {
    width: 170px; height: 210px; margin-top: 50px; margin-left: 200px;
    background-color: #ffe99f; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Side-Menu-Dish:hover { background-color: #f1e0a7; margin-top: 60px; margin-left: 210px; }
.Side-Menu-Dish-Menu {
    width: 170px; height: 210px; margin-top: 5px; margin-left: 5px;
    background-color: #f3df9e; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Side-Menu-Dish-Menu:hover { background-color: #e4cf8c; margin-top: 3px; margin-left: 3px; }
.Side-Menu-Dish-Title {
    margin-top: 10px; margin-left: 50px; font-size: 25px; color: #53350d;
    position: absolute; transition: all 0.3s ease-in-out;
} .Side-Menu-Dish-Title:hover { font-size: 27px; }
.SMD-Dish { font-size: 23px; margin-left: 20px; position: absolute; transition: all 0.3s ease-in-out; }
.SMD-Dish:hover { font-size: 25px; }
.SMDD1 { margin-top: 50px; }
.SMDD2 { margin-top: 70px; }
.SMDD3 { margin-top: 90px; }
.SMDD4 { margin-top: 110px; }
/* Salad-One-Money */
.Salad-One-Money {
    padding: 1em 2em; border: none; border-radius: 5px; font-weight: bold; letter-spacing: 5px; margin-top: 280px;
    text-transform: uppercase; cursor: pointer; color: #af8c2c; transition: all 1000ms; margin-left: 220px;
    font-size: 15px; position: relative; overflow: hidden; outline: 2px solid #af7b2c; font-family: 'JKU';
}
.Salad-One-Money:hover { color: #ffffff; transform: scale(1.1); outline: 2px solid #cabc70; box-shadow: 4px 5px 17px -4px #917826; }
.Salad-One-Money::before {
    content: ""; position: absolute; left: -50px; top: 0; width: 0;
    height: 100%; background-color: #af902c; transform: skewX(45deg); z-index: -1; transition: width 1000ms;
} .Salad-One-Money:hover::before { width: 250%; }
/* Donut-Menu-Box */
.Donut-Menu-Box {
    width: 300px; height: 360px; margin-top: 890px; margin-left: 95px;
    background-color: #ffe17f; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Donut-Menu-Box:hover { background-color: #f7d978; margin-top: 900px; margin-left: 105px; }
.Donut-Menu-Box-Menu {
    width: 300px; height: 360px; margin-top: 10px; margin-left: 10px;
    background-color: #ffe798; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Donut-Menu-Box-Menu:hover { background-color: #e9d595; margin-top: 5px; margin-left: 5px; }
.Donut-Menu-Box-Title {
    margin-top: 10px; margin-left: 75px; font-size: 25px;
    position: absolute; transition: all 0.3s ease-in-out;
} .Donut-Menu-Box-Title:hover { font-size: 27px; }
.Donut-Menu-Dish {
    width: 250px; height: 250px; margin-top: 50px; margin-left: 10px;
    background-color: #ffe99f; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Donut-Menu-Dish:hover { background-color: #f1e0a7; margin-top: 60px; margin-left: 20px; }
.Donut-Menu-Dish-Menu {
    width: 250px; height: 250px; margin-top: 5px; margin-left: 5px;
    background-color: #f3df9e; border-radius: 10px; position: absolute; transition: all 0.3s ease-in-out;
} .Donut-Menu-Dish-Menu:hover { background-color: #e4cf8c; margin-top: 3px; margin-left: 3px; }
.Donut-Menu-Dish-Title {
    margin-top: 10px; margin-left: 50px; font-size: 25px; color: #53350d;
    position: absolute; transition: all 0.3s ease-in-out;
} .Donut-Menu-Dish-Title:hover { font-size: 27px; }
.DMD-Dish { font-size: 23px; margin-left: 20px; position: absolute; transition: all 0.3s ease-in-out; }
.DMD-Dish:hover { font-size: 25px; }
.DMDD1 { margin-top: 10px; }
.DMDD2 { margin-top: 40px; }
.DMDD3 { margin-top: 70px; }
.DMDD4 { margin-top: 100px; }
.DMDD5 { margin-top: 130px; }
.DMDD-Note { color: #ff5858; font-size: 14px; font-weight: bold; position: absolute; transition: all 0.3s ease-in-out; }
.DMDD-Note:hover { color: #ff3434; }
/* Donut-One-Money */
.Donut-One-Money {
    padding: 1em 2em; border: none; border-radius: 5px; font-weight: bold; letter-spacing: 5px; margin-top: 300px;
    text-transform: uppercase; cursor: pointer; color: #af8c2c; transition: all 1000ms; margin-left: 120px;
    font-size: 15px; position: relative; overflow: hidden; outline: 2px solid #af7b2c; font-family: 'JKU';
}
.Donut-One-Money:hover { color: #ffffff; transform: scale(1.1); outline: 2px solid #e2d066; box-shadow: 4px 5px 17px -4px #ebd385; }
.Donut-One-Money::before {
    content: ""; position: absolute; left: -50px; top: 0; width: 0;
    height: 100%; background-color: #af902c; transform: skewX(45deg); z-index: -1; transition: width 1000ms;
} .Donut-One-Money:hover::before { width: 250%; }
/* Place-Order */
.Place-Order {
    padding: 1em 5em; border: none; border-radius: 5px; font-weight: bold; letter-spacing: 5px; margin-top: 1300px;
    text-transform: uppercase; cursor: pointer; color: #bd9936; transition: all 1000ms; margin-left: 150px;
    font-size: 15px; position: relative; overflow: hidden; outline: 2px solid #df9c37; font-family: 'JKU';
}
.Place-Order:hover { color: #ffffff; transform: scale(1.1); outline: 2px solid #f5da43; box-shadow: 4px 5px 17px -4px #d6ac20; }
.Place-Order::before {
    content: ""; position: absolute; left: -50px; top: 0; width: 0;
    height: 100%; background-color: #caa733; transform: skewX(45deg); z-index: -1; transition: width 1000ms;
} .Place-Order:hover::before { width: 250%; }