body { display: flex; justify-content: center; color: #5c4922; }
/* Count-Box */
.Count-title { font-size: 25px; display: flex; justify-content: center; position: absolute; }
.Count-Box div { display: flex; flex-wrap: wrap; flex-direction: column; }
.Count-Box label { display: flex; cursor: pointer; font-weight: 500; position: relative; overflow: hidden; margin-bottom: 0.375em; }
.Count-Box label input { position: absolute; left: -9999px; }
.Count-Box label input:checked + span { background-color: #816541; color: white; }
.Count-Box label input:checked + span:before { box-shadow: inset 0 0 0 0.4375em #5c4400; }
.Count-Box label span { display: flex; align-items: center; padding: 0.375em 0.75em 0.375em 0.375em; font-size: 23px; border-radius: 99em; transition: 0.25s ease; color: #817241; }
.Count-Box label span:hover { background-color: #e6d088; }
.Count-Box label span:before { display: flex; flex-shrink: 0; content: ""; background-color: #fff; width: 1.5em; height: 1.5em; border-radius: 50%; margin-right: 0.375em; transition: 0.25s ease; box-shadow: inset 0 0 0 0.125em #cf871a; }
/* Now-Order-Title */
.Now-Order-Title { position: absolute; font-size: 25px; margin-top: 20px; width: 225px; display: flex; justify-content: center; }
.Now-Order-Title-Price { position: absolute; font-size: 18px; margin-top: 30px; }
/* Now-Order-Price */
.Now-Order-Price { position: absolute; font-size: 25px; }
/* More-Count */
.More-Count-Box { --width-of-input: 200px; --border-height: 1px; --border-before-color: #f3c77663; --border-after-color: #ffc558; --input-hovered-color: #e0ab491f; position: absolute; width: var(--width-of-input); font-family: 'JKU'; }
.More-Count-Box-Text { color: #bd8c32; font-size: 15px; background-color: transparent; width: 100%; box-sizing: border-box; padding-inline: 0.5em; padding-block: 0.7em; border: none; border-bottom: var(--border-height) solid var(--border-before-color); font-family: 'JKU'; }
.More-Count-Box-border { position: absolute; background: var(--border-after-color); width: 0%; height: 2px; margin-top: 38px; margin-left: 0px; transition: 0.3s; }
.More-Count-Box-Text:hover { background: var(--input-hovered-color); }
.More-Count-Box-Text:focus { outline: none; }
.More-Count-Box-Text:focus ~ .More-Count-Box-border { width: 100%; }
/* OK-btn */
.OK-btn { --color: #a97c00; --color2: #1e190a; padding: 0.8em 1.75em; background-color: transparent; border-radius: 6px; border: .3px solid var(--color); transition: .5s; position: relative; overflow: hidden; cursor: pointer; z-index: 1; font-weight: 300; font-size: 17px; font-family: 'JKU'; text-transform: uppercase; color: var(--color); }
.OK-btn::after, .OK-btn::before { content: ''; display: block; height: 100%; width: 100%; transform: skew(90deg) translate(-50%, -50%); position: absolute; inset: 50%; left: 25%; z-index: -1; transition: .5s ease-out; background-color: var(--color); }
.OK-btn::before { top: -50%; left: -25%; transform: skew(90deg) rotate(180deg) translate(-50%, -50%); }
.OK-btn:hover::before { transform: skew(45deg) rotate(180deg) translate(-50%, -50%); }
.OK-btn:hover::after { transform: skew(45deg) translate(-50%, -50%); }
.OK-btn:hover { color: var(--color2); }
.OK-btn:active { filter: brightness(.7); transform: scale(.98); }
/* B-dish */
.B-dish-choose { font-size: 25px; display: flex; justify-content: left; position: absolute; }
.B-dish-button { display: flex; gap: 10px; justify-content: left; margin: 10px; width: 160px; font-size: 18px; position: relative; align-items: center; color: #796334; }
.B-dish-button input[name="B-dish"] { position: absolute; opacity: 0; }
.B-dish-check { position: relative; display: inline-block; width: 24px; height: 24px; border-radius: 50%; border: 2px solid #ccc; box-shadow: 0px 0px 5px #00000033; transform: translateZ(-25px); transition: all 0.3s ease-in-out; }
.B-dish-check::before { position: absolute; content: ''; width: 10px; height: 10px; top: 5px; left: 5px; border-radius: 50%; background-color: #fff; box-shadow: 0px 0px 10px #00000080; opacity: 0; transition: all 0.3s ease-in-out; }
.B-dish-button input[name="B-dish"]:checked + .B-dish-check { border-color: #b89b5c; transform: translateZ(0px); background-color: #fff; }
.B-dish-button input[name="B-dish"]:checked + .B-dish-check::before { opacity: 1; }
/* onof-salad */
.onof-salad-Box { transform-style: preserve-3d; perspective: 1000px; position: absolute; }
.onof-salad-pane { outline: 2px solid #d3b45d; box-shadow: 0 0 10px #ffae0077, inset 0 0 10px #ff990077; height: 1cm; width: 4.5cm; border-radius: 5px; position: relative; overflow: hidden; transition: 0.7s ease; }
.onof-salad-input { display: none; }
.onof-salad-label { height: 1cm; width: 1.5cm; float: left; font-weight: 500; letter-spacing: -1px; font-size: 20x; padding: 0px; position: relative; z-index: 1; color: #c29e00; text-align: center; padding-top: 10px; }
.onof-salad-selection { display: none; position: absolute; height: 1cm; width: calc(4.5cm / 3); z-index: 0; left: 0; top: 0; box-shadow: 0 0 10px #ffa60077; transition: .15s ease; }
.onof-salad-label:has(input:checked) { color: #6d6240; }
.onof-salad-pane:has(.onof-salad-label:nth-child(1):hover) { transform: rotateY(-30deg); }
.onof-salad-pane:has(.onof-salad-label:nth-child(3):hover) { transform: rotateY(35deg); }
.onof-salad-label:has(input:checked) ~ .onof-salad-selection { background-color: #ffe75d; display: inline-block; }
.onof-salad-label:nth-child(1):has(input:checked) ~ .onof-salad-selection { transform: translateX(calc(4.5cm * 0/3)); }
.onof-salad-label:nth-child(2):has(input:checked) ~ .onof-salad-selection { transform: translateX(calc(4.5cm * 1/3)); }
.onof-salad-label:nth-child(3):has(input:checked) ~ .onof-salad-selection { transform: translateX(calc(4.5cm * 2/3)); }